<div class="card">
  <div class="card-body">
    <h3 class="card-title">In this section</h4>
    <p class="card-text">The UC Davis Olive Center is a self-supporting university/industry partnership that seeks to do for olives what UC Davis did for wine.</p>
    <ul class="list-group list-group-flush">

       {% for post in site.tags.aboutactive %}
        {% if page.url == post.url %}
        <li class="list-group-item"><a class="secondary-color" href="{{post.permalink}}">{{ post.title }}</a></li>
        {% else %}
      <li class="list-group-item"><a href="{{post.permalink}}">{{ post.title }}</a></li>
        {% endif %}

      {% endfor %}
  </ul>
  </div>
</div>
