<div class="card">
  <div class="card-body">
    <h3 class="card-title">In this section</h4>
    <p class="card-text">The UC Davis Olive Center is a self-funded university/industry coalition that seeks to do for olives what UC Davis did for wine.</p>
    <ul class="list-group list-group-flush">

       {% for post in site.tags.aboutactive %}
        {% if page.url == post.url %}
        <li class="list-group-item"><a class="secondary-color" href="{{post.permalink}}">{{ post.title }}</a></li>
        {% else %}
      <li class="list-group-item"><a href="{{post.permalink}}">{{ post.title }}</a></li>
        {% endif %}

      {% endfor %}
  </ul>
  </div>
</div>
<!-- <li class="list-group-item"><a href="/about#people">Who we Are</a></li> -->
<!-- <li class="list-group-item"><a href="/about">Our Mission</a></li>

<li class="list-group-item"><a href="/about/orchards">Orchards</a></li>
<li class="list-group-item"><a href="/about/origins">Origins</a></li>
<li class="list-group-item"><a href="/about/lab-group">Lab Group</a></li>
<li class="list-group-item"><a href="/about/news-archive">News Archive</a></li> -->
