<div vocab="http://schema.org/" typeof="BreadcrumbList" id="breadcrumbs">
{% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
<span property="itemListElement" typeof="ListItem"><meta property="position" content="1" /><span property="item" typeof="Thing" resource="/"><a property="url" href="/"><span property="name">Home</span></a></span></span>
{% for crumb in crumbs offset: 1 %}
  {% assign index = forloop.index | plus: 1 %}
  {% if forloop.last %}
    / <span property="itemListElement" typeof="ListItem"><meta property="position" content="{{index}}" /><span property="item" typeof="Thing"><span property="name">{{ page.title }}</span></span></span>
  {% else %}
    / <span property="itemListElement" typeof="ListItem"><meta property="position" content="{{index}}" /><span property="item" typeof="Thing" resource="{{site.url}}{% for crumb in crumbs limit: index %}{{ crumb | append: '/' }}{% endfor %}"><a property="url" href="{% for crumb in crumbs limit: index %}{{ crumb | append: '/' }}{% endfor %}"><span property="name">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</span></a></span></span>
  {% endif %}
{% endfor %}
</div>
