<footer class="footer">
  <div class="footer-divider">
    <img src="/media/footer-divider.svg" alt="">
  </div>
  <div class="container foot-border">
    <div class="row">
      <div class="col-sm">
        <p>
          <b>UC Davis Olive Center</b> <br>
          <em>at the Robert Mondavi Institute</em>
        </p>
        <address>
          <p>RMI Sensory Building. <br> 392 Old Davis Road. <br> Davis, CA 95616-8571</p>

        </address>

      </div>
      <div class="col-sm">
        <!-- <p><b>Contact</b></p>
        <p>
          <b>Xueqi (Shirley) Li</b> <br>
          <em>Assistant Director</em>
        </p>
        <p>
          <a href="mailto:spsli@ucdavis.edu">spsli@ucdavis.edu</a> <br> (530) 752-3176</p> -->
      </div>
      <div class="col-sm">
        <p>
          <b>Connect</b>
        </p>
        <p>
          <a target="_blank" href="https://www.facebook.com/UCDavis.OliveCenter/">Facebook</a> <br>
          <a target="_blank" href="https://twitter.com/ucdolivecenter?lang=en">Twitter</a> <br>
          <a target="_blank" href="https://www.instagram.com/ucdolivecenter08/">Instagram</a> <br>
          <a href="/newsletter">Newsletter</a>
        </p>
      </div>
      <div class="col-sm">
        <p><b>Quick Links</b></p>
        <p>
          <a href="http://www.caes.ucdavis.edu/" target="_blank">College of Agricultural &amp; Environmental Sciences</a> <br>
          <a href="http://rmi.ucdavis.edu/" target="_blank">Robert Mondavi Institute</a> <br>
          <a href="/learn/resources" target="_blank">Resources</a> <br>
          <a href="/contact" target="_blank">Directions</a>
        </p>
      </div>
    </div>
    <br>
    <br>
</footer>
