<footer>
  <div class="footer-divider">
    <img src="/media/footer-divider.svg" alt="">
  </div>
  <div class="container">
<div class="row">
      <div class="col">
        <p>
          <b>UC Davis Olive Center</b> <br>
          <em>at the Robert Mondavi Institute</em>
        </p>
        <p>RMI Sensory Bldg. <br> 392 Old Davis Rd. <br> Davis, CA 95616-8571</p>
      </div>
      <div class="col">
        <p><b>Xueqi (Shirley) Li</b> <br>
          <em>Assistant Director</em>
        </p>
        <p>
          <a href="mailto:spsli@ucdavis.edu">spsli@ucdavis.edu</a> <br> (530) 752-3176</p>
      </div>
      <div class="col t-right">
        <p>
          <b>Connect</b>
        </p>
        <p>
          Facebook <br> Twitter <br> Newsletter
        </p>
      </div>
      <div class="col t-right">
        <p><b>Quick Links</b></p>
        <p>
          <a href="#" target="_blank">CA&ES</a> <br>
<a href="#" target="_blank">Robert Mondavi Institute</a> <br>
<a href="#" target="_blank">Resources</a> <br>
<a href="#" target="_blank">Contact</a>
        </p>
      </div>
      </div>
</footer>
