<header>
  <div class="container">
    <div class="row flex-between">
      <div class="col">
        <h1>Olive Center</h1>
        <p><i>At the Robert Mondavi Center</i></p>
      </div>
      <div class="col-3 align-center m-b">
        <form class="small_search" action="/search" method="GET">
          <input type="text" name="q" autocomplete="off" required>
        </form>
      </div>
    </div>
<div class="container"></div>


</header>
<div class="nav_bleed">
  {% include navigation.html %}
</div>
