<header class="header-home">
  <div class="container">
    <div class="row flex-between">
      <div class="col">
        <a href="/">
          <h1><img src="/media/logowhite.svg" alt="UC Davis logo"> Olive Center</h1>
          <p><i>At the Robert Mondavi Institute</i></p>
        </a>

      </div>
      <div class="col-sm-3 align-center m-b">
        <form class="small_search" action="/search" method="GET">
          <input type="text" name="q" autocomplete="off" required>
        </form>
      </div>
    </div>


    {% include navigation.html %}
    <div class="banner-cta">

        <div class="banner-contents">

          <h1>
            The <span class="gold">Gold</span> Standard  <br> of Olive Research
          </h1>
          <div class="border-top" style="margin-top:10px;">
            <p>
              <a class="no-underline" href="/about">Learn about our work <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </p>
          </div>

        </div>


    </div>
</div>
</header>
<div class="head_bleed">
  <div class="head_divider">
a
  </div>

</div>
