<header>
  <div class="container">
    <div class="row flex-between">
      <div class="col">
        <a href="/">
          <img src="/media/logoblue.svg" alt="UC Davis logo">
          <!-- <p><i>At the Robert Mondavi Institute</i></p> -->
        </a>

      </div>
      <div class="col-sm-3 align-center m-b">
        <form class="small_search" action="/search" method="GET">
          <input type="text" name="q" autocomplete="off" required>
        </form>
      </div>
    </div>
  </div>
</header>
<div class="head_bleed">
  <div class="head_divider head-contents">
    <div class="container">
        {% include navigation.html %}
    </div>

  </div>

</div>
