<header>
  <div class="container">
    <div class="row flex-between">
      <div class="col">
        <a href="/">
          <h1><img src="/media/UCDAVIS.SVG" alt="UC Davis logo"> Olive Center</h1>
          <p><i>At the Robert Mondavi Center</i></p>
        </a>

      </div>
      <div class="col-3 align-center m-b">
        <form class="small_search" action="/search" method="GET">
          <input type="text" name="q" autocomplete="off" required>
        </form>
      </div>
    </div>
<div class="container"></div>


</header>
<div class="head_bleed">
  <div class="head_divider">
    <div class="container">
        {% include navigation.html %}
    </div>

  </div>

</div>
