<div class="card">
  <div class="card-body">
    <h3 class="card-title">In this section</h4>
    <p class="card-text">Check out our best practices, review UC Davis olive publications from 1885 to the present, and access essential UC resources for olive growing and processing.</p>
    <ul class="list-group list-group-flush">
      {% for post in site.tags.learnactive reversed %}
       {% if page.url == post.url %}
       <li class="list-group-item"><a class="secondary-color" href="{{post.permalink}}">{{ post.title }}</a></li>
       {% else %}
     <li class="list-group-item"><a href="{{post.permalink}}">{{ post.title }}</a></li>
       {% endif %}

     {% endfor %}
    <!-- <li class="list-group-item"><a href="/learn/growers">Best Practices for Growers</a></li>
    <li class="list-group-item"><a href="/learn/oil-processors">Best Practices for Oil Processors</a></li>
    <li class="list-group-item"><a href="/learn/olive-oil-tips-for-consumers">Olive Oil Tips for Consumders</a></li>
    <li class="list-group-item"><a href="/learn/olive-oil-tips-for-professional-buyers">Olive Oil Tips for Professional Buyers</a></li> -->
  </ul>
  </div>
</div>
