<nav class="navbar navbar-expand-sm">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
  <div class="row">
    <div class="col">
        <img src="/media/menu.svg" alt="hamburger menu">
    </div>
    <div style="margin-left: -20px;
    margin-top: -10px;" class="col align-center">
      <p>Menu</p>
    </div>
  </div>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/about" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/about">Our Mission</a>
          <a class="dropdown-item" href="/about/people">People</a>
          <a class="dropdown-item" href="/about/orchards">Orchards</a>
          <a class="dropdown-item" href="/about/origins">Origins</a>
          <a class="dropdown-item" target="_blank" href="http://www.selinawang.com/group-new">Lab Group</a>

        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/events">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products">Products</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/learn" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Learn
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/learn/growers">Best Practices for Growers</a>
          <a class="dropdown-item" href="/learn/oil-processors">Best Practices for Oil Processors</a>
          <a class="dropdown-item" href="/learn/olive-oil-tips-for-consumers">Olive Oil Tips for Consumers</a>
          <a class="dropdown-item" href="/learn/olive-oil-tips-for-professional-buyers">Olive Oil Tips for Professional Buyers</a>
          <a class="dropdown-item" href="/learn/resources">UC Resources</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Research
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/research/reports">Our Publications</a>
          <a class="dropdown-item" href="/research/publications">UC Olive Archive</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ways-to-give">Ways to Give</a>
      </li>
    </ul>
  </div>
</nav>
