<div class="card">
  <div class="card-body">
    <h3 class="card-title">In this section</h4>
    <p class="card-text">The UC Davis Olive Center has pursued a comprehensive research program that taps into the expertise of dozens of  faculty members, extension research specialists and farm advisors.</p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="/research/projects">Projects</a></li>
      <li class="list-group-item"><a href="/research/reports">Our Reports</a></li>
      <li class="list-group-item"><a href="/research/publications">Olive Database</a></li>
  </ul>
  </div>
</div>
