img.img-fluid {
  width: 100%;
}
.action-btn {
  display:block;
  font-size:2rem;
  color:#fff;
  background-color:$gold;
  font-family:$sans-bold;
  padding:15px 20px;
  width:265px;
  height:85px;

  &:hover {
    color:#fff;
    opacity: .85;
  }
}
p a.action-btn {
    text-decoration: none !important;

}
.btn-borderonly {
  border:1px solid rgba(0, 40, 85, 0.8);
  padding:1rem 2rem;
  display:inline-block;
    color:transparentize($primary-color, .2);
    text-decoration: none !important;
  &:hover {
    background-color:$accent;
  }

}
.btn {
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.15) inset, 0 1px 3px rgba(0,0,0,.08);
  background: $primary-color;
  border-radius: 2px;
  font-size: 1.6rem;
  letter-spacing: 0.025em;
  color: #fff !important;
  text-decoration: none;
  transition: all 0.15s ease;
  border: none;
  font-family: $sans-bold;

  &:active,
  &:focus {
    background-color: darken($primary-color, 5);
  }

  &:hover {
    color: #fff !important;
    transform: translateY(-1px);
    box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.15) inset, 0 3px 6px rgba(0,0,0,.08);
    background-color: lighten($primary-color, 5);
  }
}

.btn-register {
  width: 100%;
}

.media {
  margin-bottom: 16px;

  img {
    margin-right: 20px;
  }

  .media-body {}
}

ol.breadcrumb {
  display: inline-block;
  list-style: none;
  border: 0;
  padding-left: 0;
  background-color: #fff;
  margin-bottom: 0;
  margin-top: 16px;

  li {
    font-size: 1.4rem;
  }

  a {
    color: $tertiary-font;
    // &:hover {
    //     color: darken($primary-color, 20%);
    // }
  }

  > li {
    display: inline-block;

    & + li:before {
      padding: 0 5px;
    }
  }

  > .active a {
    color: $secondary-font;
  }

  > li+li:before {
    color: $tertiary-font;
    content: "/";
  }
}

.banner {
  background-color: $secondary-color;
  padding: 2% 0;
  background-size: cover;
  background-repeat: no-repeat;
  height: 270px;
  display: flex;
  align-items: flex-end;

  & .banner--text {
    h1 {
      color: #fff;
      display: inline;
      border-left: 8px solid #CCD4E0;
      font-size: 2.8rem;
      padding: 6px 18px 6px 14px;
      margin-left: -24px;
      background-color: $primary-color;
    }
  }

  &.banner--labgroup_banner {
    background-image: url("/media/banners/labgroup_banner.jpg");
  }

  &.banner--donate_banner {
    background-image: url("/media/banners/donate_banner.jpg");
  }

  &.banner--orchard_banner {
    background-image: url("/media/banners/orchard_banner.jpg");
  }

  &.banner--products_banner {
    background-image: url("/media/banners/products_banner.jpg");
  }

  &.banner--event_banner {
    background-image: url("/media/banners/event_banner.jpg");
  }
}

.marketing-highlight {
  .mh-title {
    background-color: $primary-color;

    h2 {
      color: #fff;
      font-size: 2.6rem;
      margin: 0;
      padding: 16px 24px;
    }
  }

  .mh-content {
    background-color: $bg-color;
    padding: 20px 24px;
  }
}

.separator {
  margin: 20px 0 10px;
}

.m-r {
  margin-right: 16px;
}

.m-b {
  margin-bottom: 16px;
}

.align-center {
  align-self: center;
}

.flex-between {
  justify-content: space-between;
}

.flexer {
  display: flex;
}

.t-right {
  text-align: right;
}

.t-center {
  text-align: center;
}

.card-nobrdr {
  border: 0 solid #fff;
}

.bot-border {
  border-bottom: 1px solid $bg-color;
}
//database

table.dataTable tr.odd td.sorting_1 {
  background-color: $accent;
}

table.dataTable tr.even td.sorting_1 {
  background-color: #fefefe;
}

table.dataTable tr.odd td {
  background-color: darken($accent,5%);
}

table.dataTable tr.even td {
  background-color: darken(#fefefe,5%);
}

.gold {
  color: $secondary-color;
}

.border-top {
  border-top: 2px solid rgba(255,255,255,0.95);
}

.border-blue-top {
  border-top: 1px solid $accent;
}

.border-blue-bottom {
  border-bottom: 1px solid $accent;
}

.border-blue-right {
  border-right: 1px solid $accent;
}
.bg-unitrans {
  background-color:$unitrans-red;
}
.bg-sunny-grass {
  background-color: $sunny-grass;
}
.bg-golden-lupine {
  background-color: $golden-lupine;
}
.bg-recpool {
  background-color: $recpool-blue;
}
.bg-winegrape {
  background-color:$wine-grape;
}
.primary-color {
  color:$primary-color;
}
.secondary-color {
  color:$secondary-color;
}
.accent-color {
  color:$accent;
}
.a-color {
  color:$a-link;
}
