// fonts
@font-face {
    font-family: 'proxima-nova-r';
    src: url('../media/fonts/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima-nova-i';
    src: url('../media/fonts/proximanova-regularit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima-nova-b';
    src: url('../media/fonts/proximanova-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$sans-italic:   "proxima-nova-i",serif;
$sans-bold:     "proxima-nova-b",serif;
$sans-reg:      "proxima-nova-r",serif;

$primary-color: #848B14;
$secondary-color: #C99700;

$primary-font: rgba(67,67,67,.99); //
$secondary-font: rgba(67,67,67,.7); //
$tertiary-font: rgba(67,67,67,.48); //


$bg-color: transparentize($primary-color, .88); // background
$borders: #C8C7CC; // border color

$nav-active: #fff;

$a-link: #C99700;
$a-hover: #DDB307;

// UC Davis Colors
// Supplemental bright color palette for UC Davis
$unitrans-red: #ba0c2f;
$western-redbud: #c6007e;
$california-poppy: #ed8800;
$golden-lupine: #ffcd00;
$sunny-grass: #78be20;
$sky-blue: #00b5e2;
$recpool-blue: #008eaa;
$wine-grape: #642667;
// Supplemental neutral color palette for UC Davis
$mu-brick: #c26e60;
$harthall-stucco: #e6a65d;
$sage-green: #9caf88;
$evergreen: #00573f;
$wintersky-gray: #5b7f95;
$cenwalk-gray: #b1b3b3;
$cork-oak: #aca39a;
$shingle-brown: #4f2c1d;
// mixins
@mixin breakpoint($point) {
    @if $point==hdres {
        @media (max-width:1600px){
            @content ;
        }
    }
    @if $point==desktop {
        @media (max-width: 1250px) {
            @content ;
        }
    }
    @else if $point==laptop {
        @media (max-width: 1000px) {
            @content ;
        }
    }
    @else if $point==rufus {
        @media (max-width: 850px) {
            @content ;
        }
    }
    @else if $point==tablet {
        @media (max-width: 750px) {
            @content ;
        }
    }
    @else if $point==mobileonly {
        @media (max-width: 640px) {
            @content ;
        }
    }
    @else if $point==smallmobile {
        @media (max-width: 450px) {
            @content ;
        }
    }
}
