*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.content-wrapper {
  flex: 1 0 auto;
  min-width: 375px;
}
@media (min-width: 576px) {
  .container {
    max-width: inherit;
    width:98%;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: inherit;
    width:95%;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: inherit;
    width:90%;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1400px;
    width:88%;
  }
}
header {
  // background-color: $primary-color;
  .logo {
    padding-top: 12px;
    padding-bottom: 7px;
  }
  h1 {
    img {
      padding-bottom:6px;
    }
    color:#002855;
    font-size:3.6rem;
    margin-bottom:0px;
  }
  p {
    font-style: italic;
    color:$primary-color;
    font-size:2.2rem;
  }
}
header.header-home {
  padding:0;
  .logo {
    padding-bottom: 0;
  }
  .video-wrapper {
    position: relative;
    background:url(/media/video-banner.jpg) no-repeat;
    background-size:cover;
    h1 {
      color:#fff;
    }
    p a {
      color:#fff;
      font-style:normal;
      font-size:1.8rem;
      font-weight:600;
      &:hover {
        color:$secondary-color;
      }
    }
    video {
      display: block;
    }
    @media (max-width:768px) {
      video {
        display: none;
      }
    }
  }
  .video-nav {
    top:0;
    padding-top:2%;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(180deg, rgba(0,0,0,0.5298494397759104) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0,0,0,0.5298494397759104) 0%, rgba(255,255,255,0) 100%);
    background: linear-gradient(180deg, rgba(0,0,0,0.5298494397759104) 0%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
    @include videosizes;
    @media (max-width: 768px) {
      position: static;
    }
  }
  .video-cta {
    @include videosizes;
    width:50%;
    bottom:0;
    padding-bottom: 4%;
    min-width: 42rem;
    box-sizing: content-box;
    @media (max-width: 768px) {
      display: none;
    }
  }
}
.head_bleed {
  background: #1e3a5b;
    background: -moz-linear-gradient(left,#1e3a5b 0%,#1e3a5b 44%,#dbbc5b 57%,#dbbc5b 100%);
    background: -webkit-linear-gradient(left,#1e3a5b 0%,#1e3a5b 44%,#dbbc5b 57%,#dbbc5b 100%);
    background: linear-gradient(to right,#1e3a5b 0%,#1e3a5b 44%,#dbbc5b 57%,#dbbc5b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$gradient-one',endColorstr='$gradient-two',GradientType=1);
}
.head_divider {
    background: url(/media/gunrock_banner_final.svg) center top/cover no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 1rem;
}
.annoucnements p {
  margin-bottom:0px;
}
.main-cta {
  border-bottom:1px solid $accent;
  border-top:1px solid $accent;
  margin:20px 0px 56px 0px;
  .left-col {
    border-right:1px solid $accent;
    @include breakpoint(tablet) {
      border-right:none;
      border-bottom:1px solid $accent;
    }
  }
  .event-left {
    margin-left:48px;
    @include breakpoint(tablet) {
      margin-left:0px;
    }
  }
  p {
    font-size:1.8rem;
  }
  .col-md-6 {
    padding:80px 0px;
  }

}
.calendar-wrapper {
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
  .calendar-top {
    background-color: $unitrans-red;
    color:#fff;
    font-size:2.6rem;
  }
  .calendar-bot {
    font-size:4.2rem;
    font-family: $sans-bold;
    padding:10px 0px;
  }
}
.cta-descrip {
  margin:24px 0px;
}
.custom-col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.col-md-8 {
  padding-top:16px;
  @include breakpoint(rufus) {
    padding-right:56px;
    // border-right:1px solid $bg-color;
    padding-bottom:40px;
    min-height:582px;
  }
}
// .sidebar .col-md-4 {
//   padding-top:24px;
//   @include breakpoint(rufus) {
//     padding-left:32px;
//   }
//
// }
.event-sidebar {
  padding-top:26px;
  p {
    color:$secondary-font;
  }
}
.event-collection {
  .lead {
    margin-bottom:24px;
  }
  .col-md-4 {
    img {
      width:100%;
    }
  }
}
.flex-apart {
  display:flex;
  justify-content: space-between;
  vertical-align: middle;
}
footer {
  background-color:rgb(0,32,96);
  margin-top:60px;
  flex-shrink: 0;
  .foot-border {
      border-top:1px solid rgba(255,255,255,0.8);
      padding-top:20px;
  }
  p a {
    color:#fff;
    text-decoration: none;
    &:hover {
      color:#fff;
      text-decoration: underline;
    }
  }
  .footer-divider {
    text-align:center;
    img {
    z-index: 99;
    border-right: 20px solid rgb(0,32,96);
    border-left: 20px solid rgb(0,32,96);
    background-color: rgb(0,32,96);
    position: relative;
    bottom:-55px;
    @include breakpoint (mdbreak) {
      display:none;
    }
    }
  }
    @include breakpoint (smbreak) {
        .col-sm:nth-child(3), .col-sm:nth-child(4) {
          text-align:right;
        }
  }
}
.event-wrap {
  h2 {
    margin-top:0px;
  }
  .row {
    margin-bottom:40px;
  }
}
//supporter
.supporter-image {
  margin-left:-14px;
}
.supporter-image-background {
  padding:8px;
  background-color:#fff;
  border:1px solid rgba(0,0,0,.125);
  border-radius: 4px;
}
