.header-home {

}
nav.navbar {
  margin-left: -22px;

  a.nav-link {
    color:rgba(255,255,255,0.98);
    font-size:1.8rem;
    font-family: $sans-bold;
    padding:0.5rem 1rem !important;
  }
}
.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.155em;
    vertical-align: .0955em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-left: .3em solid transparent;
  }

.dropdown-menu {
  font-size:1.6rem;
}
.dropdown-item {
  color:$primary-font;
}
