// baseline typography
html {
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    line-height: 1.5;
    //
    // @include breakpoint(tablet) {
    //     font-size: 8px;
    // }
    // @include breakpoint(mobile) {
    //     font-size: 7px;
    // }
}
body {
    font-family: $sans-reg;
}
a {
  color:$a-link;
  &:hover {
    color:$primary-color;
  }
  &.post-link {
    display:block;
    margin-bottom:16px;
    &:hover {
      background-color:$bg-color;
    }
  }
}
p a {
  font-weight: 700;
  text-decoration: underline;
  &:hover {
    text-decoration: underline;
  }
}
a.no-underline {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul, ol {
  &.no-list-style {
    list-style-type: none;
    padding-left:0px;
    li {
      margin:4px 0px;
    }
  }
  font-family: $sans-reg;
  li {
    font-size:1.6rem;
  }
}

p {
  font-size:1.6rem;
  font-family: $sans-reg;
  color:$primary-font;
  // margin:1.2rem 0rem;
  &.lead {
    font-size:1.8rem;
    margin-top:0px;
  }
  footer & {
    color:$primary-font;
    font-size:1.4rem;
  }

}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $primary-color;
    font-family:$sans-bold;
    // margin: 1.6rem 0rem 1rem 0rem;
}
h2,
h3,
h4 {
  margin-top:1.5rem;
  &.card-title {
    margin-top:0px;
  }
}
table {
  font-size:1.6rem;
  h2 {
    margin-top:0px;
  }
}
.event-date {
  font-size:1.4rem;
  text-transform: uppercase;
  color:$primary-font;
}
.h-wrapper {
  display:inline-block;
  // @include breakpoint(tablet) {
  //   width:100%;
  // }
  border-bottom:4px solid $accent;
  padding-right:24px;
}
