---
layout: default
---

{% if page.image-banner %}
<div class="flex-display banner banner--{{ page.image-banner }}">

  <div class="banner--text container">
    <h1>{{ page.title }}</h1>
  </div>

</div>
{% endif %}

  <div class="container">
      {% include breadcrumbs.html %}
  </div>

<div class="container">
  <!-- {% if page.donor-banner %}
  <img class="img-fluid" src="{{ page.donor-banner }}" alt="{{ page.donor-caption }}">
  <p class="caption">
    {{ page.donor-caption }}
  </p>
  {% endif %} -->
  {% if page.banner %}
  <h1 class="fancytitle">{{ page.title }}</h1>
  {% endif %}
  {{ content }}
</div>
