---
layout: default
title: Events at the UC Davis Olive Center

---
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{{ site.baseurl }}/">Home</a></li>
      {% if page.breadcrumb %}{{ page.breadcrumb }}{% endif %}
        <li class="active"><a href="{{ page.url }}">{{ page.title }}</a></li>
    </ol>
</div>
<div class="container">
  <div class="row">

    <div class="col-md-8 event-collection">
      <h1>{{ page.title }}</h1>
      <p class="lead">{{ page.description }}</p>
      {% for post in site.categories.events %}
      <p>There are currently no active events</p>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
        <div class="media">
          {% if post.imagethumb %}
          <img src="/media/{{ post.imagethumb }}">
          {% endif %}
          <div class="media-body">
            <h2>
              {{ post.title }}
            </h2>
            <h5 class="event-date">{{ post.date-display }}</h5>
            <p class="event-description">{{ post.description }}</p>
          </div>
</div>
      </a>
      {% endfor %}
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">In this section</h4>
          <p class="card-text">The UC Davis Olive center hosts a number of events throughout the year, be sure to check them out.</p>

        </div>
      </div>
    </div>
  </div>
</div>
